@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Smooch+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: rgba(121, 83, 179, 0.464);
}
.presentacion {
    background-color: rgb(43, 87, 72);
    
}

.presentacion-header {
    display: flex;
    justify-content: space-between;
    padding: 3rem ;
    padding-bottom: 1;
    padding-left: 0;
    
}

.header-derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-fluid{
    list-style: none;
    display: flex;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 500;
    color: rgb(40, 251, 255);
    font-size:1.70rem;
    text-shadow: 3px 3px 4px white;
    gap: 2rem;

}

.navbar-nav {
    background-color: rgb(43, 87, 72);
    
}

.nav-link {
    color: rgb(40, 251, 255);
}
.presentacion-ppal {
    display: flex;


}

.presentacion-ppal > div {
    flex: 1;
}

.clearfix {
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    
}

.parrafo-inicio {
    font-size: 1.1rem;
}

.capitol-letter {
    float: left;
    color: rgb(43, 87, 72);
    background: #d4e9ff;
    border: 1px solid #4a6e92;
    padding: 3px 5px 1px 5px;
    display: block;
    margin-right: 6px;
    font-family: times;
    margin-top: 5px;
    font-size: 80px;
    line-height: 60px;
}


.parrafo-nos1{
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10%;
}

.parrafo-nos2{
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10%;
}

.parrafo-nos3{
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10%;
}

.parrafo-nos4{
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10%;
}


.nos1{
    padding-top: 3rem;
    margin: 3rem;
    transition: .5s;
    object-fit: cover;
}

.nos2{
    padding-top: 3.5rem;
    margin: 3.5rem;
    transition: .5s;
    object-fit: cover;
}

.nos3{
    padding-top: 2.5rem;
    margin: 2.5rem;
    transition: .5s;
    object-fit: cover;
}

.nos4{
    padding-top: .75rem;
    margin: .75rem;
    transition: .5s;
    object-fit: cover;
}

.fotonos{
    box-shadow: 9px 9px 12px black;
}

.fotonos:hover{
    transform: scale(1.4);
}


.parrafocolaborar{
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    font-size: 1.25rem;
}

.parrafoadoptar{
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    font-size: 1.25rem;
}





footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: rgb(152, 251, 229);
    background-color: rgb(54, 89, 77);
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(76, 99, 58, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    max-height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
}

.mapa{
    padding: 0rem;
}

.fct1{
    padding: 1%;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.5rem;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    
}

.social-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 1.5rem;
    
}

.social-link{
    background-image: url(../img/facebook-icon-512x512-seb542ju\(1\).png);
    background-size: 100%;
    background-position: center;
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 1rem;
    background-repeat: no-repeat;
    

}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url(../img/youtubetextlogo.png);
    background-size: 100%;
    background-position: center;
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

footer .social-link:nth-of-type(3){
    background-image: url(../img/instagram.png);
    background-size: 100%;
    background-position: center;
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.content {
    max-width: 100%;

}

.logo {
    text-align: center;
    font-size: 3rem;
    padding-left: 5rem;
    
}

.contact-wrapper {
    box-shadow: 0 0 1.25rem 0 rgba(88, 54, 138, 0.464);
}

.contact-wrapper > *{
    padding: 2rem;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}
.contact-form form p {
    margin: 0;
    padding: 1rem;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7rem;
    border: none;
}

.contact-form form button {
    background: rgb(165, 148, 243);

}

.info-contacto {
    background-color: rgb(44, 87, 72);
    color: white;
    font-size: 1.4rem;
}

.info-contacto h4,
.info-contacto ul,
.info-contacto p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.info-contacto ul{
    list-style: none;
    padding: 0;
}

.info-contacto ul li {
    padding: .3rem;
}
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

    .titulo-nos {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        text-decoration: underline;
        text-shadow: 3px 3px 4px green;
    }

    .titulo-colaborar{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        text-decoration: underline;
        text-shadow: 3px 3px 4px green;
    }

    .titulo-adoptar{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        text-decoration: underline;
        text-shadow: 3px 3px 4px green;
    }
    @media (min-width:995px) and (max: width 1191px;){
    .presentacion-header{
        flex-direction: column;
        align-items: center;
    }
    }

    @media (min-width:768px) and (max: width 994.98px;){
    .presentacion-header{
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    }

    @media (min-width:621px) and (max: width 767.98px;){
        .clearfix {
            max-width: 100%;
        }
    }